.container__small-card{
  width: 900px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.container__small-card__content{
  display: flex;
  flex-direction: row;
}

.small-card__photo{
  width: 200px;
  height: 100px;
  overflow: hidden;
  margin-right: 10px;

}

.small-card__photo > img {

  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;

}

.small-card__title {
  display: flex;
  justify-content: flex-start;
}


