<div class="container__small-card">
  <div class="container__small-card__content">
  <div class="small-card__column1">
    <div class="small-card__photo">
      <img src="{{ photoCoverSmallCard }}"
      alt="{{ photoAlt }}"

      >

    </div>
  </div>
  <div class="small-card__column2">
    <div class="small-card__title">
      <h1><a [routerLink]="['content', id]">{{ smallCardTitle }}</a></h1>

    </div>
    <div class="small-card__description">
      <p>{{ smallCardDescription }}</p>

    </div>
  </div>
</div>
<hr />
</div>

