<header>
  <app-menu-bar />
</header>
<app-menu-title />
<div class="container__articles">
  <div class="articles__main">
    <app-big-card id="1"
                  photoCover="assets/placeholder_img.jpg"
                  photoAlt="Default Aternative Text Image"
                  cardTitle="Default Title"
                  cardDescription="Default Description"
    />
  </div>
  <div class="articles_others">
    <app-small-card id="4"
                    photoCoverSmallCard="assets/placeholder_img.jpg"
                    photoAlt="Default Aternative Text Image"
                    smallCardTitle="Title 2"
                    smallCardDescription="Default Description"
                    />
    <app-small-card photoCoverSmallCard="assets/placeholder_img.jpg"
                    photoAlt="Default Aternative Text Image"
                    smallCardTitle="Default Title"
                    smallCardDescription="Default Description"
                    id="2"/>
    <app-small-card photoCoverSmallCard="assets/placeholder_img.jpg"
                    photoAlt="Default Aternative Text Image"
                    smallCardTitle="Default Title"
                    smallCardDescription="Default Description"
                    id="3"/>
    <app-small-card photoCoverSmallCard="assets/placeholder_img.jpg"
                    photoAlt="Default Aternative Text Image"
                    smallCardTitle="Default Title"
                    smallCardDescription="Default Description"
                    id="5"/>
  </div>
</div>
